.TimelineTimeline{
  background-color: black;
  height:10px;
  width:100%;
}

.TimelineDateStamps{
  margin:0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}

.TimelineForm{
  background-color: rgb(57, 0, 71);
  color:white;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.TimelineFormContainer{
  position:absolute;
  bottom:0;
  right:0;
  min-width: 400px;
}

.TimelineInfoDisplay{
  display: flex;
  flex-direction: column;
  padding:50px;
  background-color: coral;
  position:absolute;
  bottom:0;
  width: 100%;
  box-sizing: border-box;
}